html, body {
  background: #EEE;
  font-family: Arial;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

h1 {
  background: #385C85;
  color: #FFF;
  padding: 10px;
  padding-left: 20px;
  margin-top: 0px;
}

h1 a {
  color: #00AA00;
}

/*
  wrap text around after we hit 500px
*/
p {
  padding-left: 20px;
  line-height: 1.3em;
  width: 500px;
}

p a {
  color: #385C85;
}

canvas{
  border: solid black 1px;
}
