
/* prevent the window scrollbars from appearing
which conflict with zooming.*/
html {
 /* overflow-x: hidden;  */
 /* overflow-y: hidden;*/
}

span, div{
  font-family: monospace;
  color: #FFFFFF;
}

body{
  //margin: 0px 0px;
}

.orangeText{
  color: orange;
}

.blackText{
  color: #000000;
}

.filename{
  color: green;
}

img{
  vertical-align: top;
  border: 1px solid #000;
}
